<section class="section-education">
    <div>
        <h1 id="education">Educación</h1>
        <hr>
        <br>
        <br>
        <div>
            <h2>Técnico Superior Universitario en Electricidad</h2>
            <p>UPTNM "Ludovico Silva", Venezuela</p>
        </div>
        <br>
        <h2>Certificaciones</h2>
        
        <div class="container-certificate"><ul>
                <li>✔️ <a href="">Desarrollador Java FullStack<span>- Generation Colombia</span></a></li>
                <li>✔️ <a href="https://app.aluracursos.com/user/emmanuelsilano/program/6/certificate"
                        target="_blank">Desarrollador Java Backend Junior <span>- Oracle Next Education Colombia</span></a>
                </li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/6e56aa066aad045e5a3dd001c86ceffb4f09d0a79a3c926a493f25c55f3fdbc6"
                        target="_blank">Economía naranja: Aprende desarrollo de proyectos web<span>- LinkedIn</span></a>
                </li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/8a532021269bba7d5bd9abfe17c7304fdbd22a4c90907bf33cfc6eb6d37e1e0f"
                        target="_blank">Conviertate en especialista de desarrollo Java<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/91ef735726a33d1844276e120fb63f593f712531ea051f64dc6e368e5bb47baa"
                        target="_blank">Scrum esencial<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/628369fd115f7c4d40cb05d5aea7089f54340f09ecab7d454fbb75b8e30b29b1"
                        target="_blank">Java: Código robusto<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/584547c44f74af1e15c4a90622fc7e6f32ae849e6f18556a891a1a3fca9abae5"
                        target="_blank">MySQL esencial<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/d1952e3e56fcbee5830b14f4044fb6029b01a4ed05d6f15154e01abb336d8352"
                        target="_blank">Angular esencial<span>- LinkedIn</span></a></li>
    
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/15947758467f953cd35f8f278571d99bb381c0a575ee8c2df5538a832cf8dc01"
                        target="_blank">Java esencial<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/5cf0181df055cb02625b3c981098532cdb223f2e1d0f901c91a030503fe24632"
                        target="_blank">CSS Avanzado<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/84f6ac504d3aa46d09e564b05bc150548f23c4cdf1aca5beffb077c09d6ccfcc"
                        target="_blank">Fundamentos de la programación: Bases de datos<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/2350ae1e624c0216933c2292abdaf4c652aee3812d69d1e2061692890e65f92d"
                        target="_blank">Aprende diseño de base de datos relacionales<span>- LinkedIn</span></a></li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/9a348a9f7be7631193f1d9a8fed037a00cadfdf704877b8c3285425d694ea1b6"
                        target="_blank">HTML5 y CSS3 práctico: Formularios de login y registro<span>- LinkedIn</span></a>
                </li>
                <li>✔️ <a
                        href="https://www.linkedin.com/learning/certificates/429a660f46f13324b84a05b2720137546df55b94bdad9ec32f886bea852845e7"
                        target="_blank">JavaScript Esencial<span>- LinkedIn</span></a></li>
    
            </ul>
                <div class="icon-certificate">

                </div>
        </div>
    </div>

</section>