@import 'src/assets/styles/colors';
footer{background-color: $second-color; height: 20vw; display: grid; align-items: center; place-items: center; text-align: center;
p{font-size: 1.2rem; color: white;}}

