<section class="section-aboutme">

    <div>
        <div class="content">
            <h1 id="about-me">Sobre mí</h1>
            <hr>
            <br>
            <p>
                ¡Hola! Soy Emmanuel Silano y vivo en Medellín. Cursé estudios en Electricidad, pero desde que toqué
                código por primera vez, hace casi tres años, me he enfocado en el desarrollo de software.
            </p>
            <p>
                He puesto en práctica mis conocimientos a través de la realización y participación en proyectos que han
                implicado el modelado de bases de datos, la integración de APIs RESTful y la persistencia de datos
                mediante el uso de JPA. Mi objetivo es fortalecer mis capacidades en tecnologías como Angular y Spring
                Boot, y siempre estoy dispuesto a adaptarme y aprender cosas nuevas.
            </p>
            <p>
                Durante mi formación como Desarrollador Full Stack Java en el bootcamp de Generation, tuve la
                oportunidad de participar en proyectos y ganar experiencia al trabajar en equipo, lo que me permitió ser
                más adaptable, resolutivo, paciente y empático. Además, el intercambio de conocimientos con mis
                compañeros contribuyó a enriquecer aún más mis habilidades técnicas.
            </p>


        </div>
        <div class="networks">
            <div><a href="https://www.linkedin.com/in/emmanuelsilano" target="_blank"><img
                        src="../../assets/img/Icon/linkedin.png" alt="" width="24px">LinkedIn</a></div>
            <div><a href="https://github.com/ElecthroxCode" target="_blank"><img src="../../assets/img/Icon/github.png"
                        alt="" width="25px">GitHub</a></div>

        </div>
    </div>
</section>