<section class="section-skills">
    <div>
        <h1 id="skills">Habilidades</h1>
        <hr>
        <br>
        <br>
        <div class="container-skills">
            <div><img src="../../assets/img/Icon/java-icon.svg" alt=""></div>
            <div><img src="../../assets/img/Icon/Angular-icon.svg" alt="" width="160px"></div>
            <div><img src="../../assets/img/Icon/mysql-official.svg" alt="" width="126px"></div>
            <div><img src="../../assets/img/Icon/spring-boot-icon.png" alt="" width="140px"></div>
        </div>
        
        
    </div>
</section>